.question{
    display:none
}

.modal {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: Column;
}

.modal-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
