.player_animation {
    transition: left .5s ease-in-out 0s, top .5s ease-in-out;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

@keyframes dispatchMove {
    100% {
        background-position-x: 320px
    }
}