/* :root {
    --pixel-size: 1;
} */

.Character {
    /* width: 64;
    height: 64;  */
    overflow: hidden;
    position: relative;
    /* margin: 4em auto; */
}

.Character_spritesheet {
    animation: moveSpritesheet 1s steps(3) infinite;
    width: 96px;
    position: absolute;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

.tile {
    display: inline-flex;
    background-color: rgb(68, 187, 68);
}

.grass {
    background-color: rgb(68, 187, 68);
}



/* .rock {
    background-image: url("/tiles/rock.png");
} */

/* .tree {
    background-image: url("/tiles/tree.png");
}

.chest {
    background-image: url("/tiles/chest.png");
}  */